<div class="container">
  <img
    class="card"
    [class.highlight]="cardType === CardType.Visa"
    src="../../../assets/images/visa.png"
  />
</div>
<div class="container">
  <img
    class="card"
    [class.highlight]="cardType === CardType.Amex"
    src="../../../assets/images/amex.png"
  />
</div>
<div class="container">
  <img
    class="card"
    [class.highlight]="false"
    src="../../../assets/images/mc.png"
  />
</div>
<div class="container">
  <img
    class="card"
    [class.highlight]="false"
    src="../../../assets/images/discover.png"
  />
</div>
