<div class="form-border">
  <div class="row">Enter your credit card information</div>
  <div class="row">
    <div class="col s12">
      <input
        #cardHolder
        type="text"
        class="w100"
        placeholder="Name"
        [(ngModel)]="creditCard.cardholder.value"
        (blur)="validateCardholder(cardHolder.value)"
        [class.invalid]="
          creditCard.cardholder.value && !creditCard.cardholder.isValid
        "
      />
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <input
        #cardNumber
        type="text"
        class="w100"
        placeholder="Card Number"
        (keypress)="onCardNumberKeypress(cardNumber.value)"
        (blur)="validateCreditCardNumber()"
        [(ngModel)]="creditCard.cardNumber.value"
        [maxLength]="cardType === CardType.Amex ? 17 : 19"
        [class.invalid]="
          creditCard.cardNumber.value && !creditCard.cardNumber.isValid
        "
      />
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <input
        #cvv2
        type="text"
        class="w100"
        placeholder="CVV2"
        [maxLength]="cardType === CardType.Amex ? 4 : 3"
        [(ngModel)]="creditCard.cvv2.value"
        (blur)="validateCVV2Length(cvv2.value)"
        [class.invalid]="
          creditCard.cvv2.value &&
          creditCard.cardNumber.value &&
          !creditCard.cvv2.isValid
        "
      />
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <input
        type="text"
        class="w100"
        placeholder="Exp. Month"
        maxlength="2"
        min="1"
        max="12"
        [(ngModel)]="creditCard.expirationMonth.value"
        (blur)="validateExpirationDate()"
        [class.invalid]="
          creditCard.expirationMonth.value &&
          !creditCard.expirationMonth.isValid
        "
      />
    </div>
    <div class="col s6">
      <input
        type="text"
        class="w100"
        placeholder="Exp. Year"
        maxlength="4"
        [(ngModel)]="creditCard.expirationYear.value"
        (blur)="validateExpirationDate()"
        [class.invalid]="
          creditCard.expirationYear.value && !creditCard.expirationYear.isValid
        "
      />
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <app-credit-card-icons [cardType]="cardType"></app-credit-card-icons>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button
        type="button"
        class="btn w100"
        [disabled]="!formValid || formSubmitting"
        (click)="onSubmission()"
      >
        Submit
      </button>
    </div>
  </div>
  <div class="row" *ngIf="formSubmitting">
    <div class="col s12">Your information has been submitted.</div>
  </div>
</div>
